.section{
    padding: 70px 0;
}
.content-list{
    list-style: none;
    font-weight: 400;
    column-gap: 20px;
    font-size: 20px;
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}
.content-list__item{
    text-align: center;
}
.content-list__img{
    width: 36px;
    height: 36px;
    padding: 17px 0;
    margin: 3px;
}
.content-list__imgGoogle{
    width: 30px;
    height: 30px;
    padding: 17px 0;
    margin: 3px;
}
.content-list a{
    color: var(--accent);
}
.h3{
    align-items: center;
}