.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid #262920;
    background-color: #171718;
    color: #FFF
}

.naw-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.logo{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.nav-list__link{
    color: #FFF;
    transition: opacity 0.2s ease-in;
}
.nav-list__link--active{
    position: relative;
}
.nav-list__link--active::before{
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}
.nav-list__link:hover{
    opacity: 0.8;
}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
}
.active{

}